
    a{
        background-color:aqua;
        color:green;
    }
        
    
    /*
    style for button
    */
    article{
        height:400px;
        width: 500px;
    }
    
    .button{
        background-color:aqua;
        color:green;
       
    }
  